{% extends 'base.html' %}

{% block title %}
    <title>My Offices Page</title>
{% endblock %}

{% block content %}
    <h1>Please choose an available office:</h1>
            <ul>
                {% for form in form_data %}
                    <li style="margin-bottom: 10px;">
                        <div>
                            <div class="col-8">
                                <a class="btn btn-primary btn-sm" href="{% url 'offices:book_now' form.id start_date end_date %}">Floor: {{ form.zone.floor.id }}, Zone: {{ form.zone.id }},Office: {{ form.id }}</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
{% endblock %}
