{% extends 'base.html' %}

{% block title %}
    <title>My Offices Page</title>
{% endblock %}

{% block content %}
    <h1>Please choose an available office:</h1>
    <ul>
        {% for office in offices %}
            <li style="margin-bottom: 10px;">
                <div>
                    <ul>
                        <a class="btn btn-outline-primary" >{{ office.name }}</a>
                    </ul>
                </div>

            </li>
        {% endfor %}
    </ul>
{% endblock %}
