{% extends 'base.html' %}

{% block title %}
    <title>My Offices Page</title>
{% endblock %}

{% block content %}
    <h1>Please choose an available office:</h1>
    <ul>
        {% for office in offices %}
            <li style="margin-bottom: 10px;">
                <div>
                    <ul>
                        <a class="btn btn-primary btn-sm" >{{ office.name }}</a>
                    </ul>
                </div>
                <div>

                    <div class="container">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-6">
                                <img src="https://assets-global.website-files.com/5fc446238a88f40826c2ce10/602b9df5937bd07e0a89dba2_maphero.svg" width="100"
                            </div>
                    </div>
                </div>

            </li>
        {% endfor %}
    </ul>
{% endblock %}
