{% extends 'base.html' %}

{% block title %}
    <title>My Offices Page</title>
{% endblock %}

{% block content %}
    <h1>My Offices Page</h1>
    <ul>
        {% for office in offices %}
            <li style="margin-bottom: 10px;">
                <div>
                    {{ office.name }} <a href="{% url 'offices:details' office.id %}">View details</a>
                </div>
                <div>
                    <ul>
                        Zone: {{ zone.zone_location }}
                    </ul>
                    <ul>
                        Floor: {{ floor.floor_level }}
                    </ul>
                </div>

            </li>
        {% endfor %}
    </ul>
{% endblock %}
