{% extends 'base.html' %}

{% block title %}
    <title>Reservation for office no. {{ office_id }}</title>
{% endblock %}

{% block content %}
    <h1> Dear {{ user.first_name }},</h1>
    <h2>See below the location details for the office no. {{ office_details.id }}</h2>
        <p><strong>Office no.</strong>  {{ office_details.id }}</p>
        <p><strong>Zone:</strong> {{ office_details.zone_id }}</p>
        <p><strong>Floor:</strong> {{ zone_details.floor_id }}</p>
        <p><strong>Reservation start date:</strong> {{ start_date }}</p>
        <p><strong>Reservation end date</strong> {{ end_date }}</p>
            <form action="{% url 'offices:do_booking' office_details.id start_date end_date %}" method="post" id="payment-form">
                {% csrf_token %}
                <div class="form-row">
                    <label for="card-element">
                        Credit or debit card
                    </label>
                    <div id="card-element" class="form-group form-control">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <button>Submit</button>
            </form>
{% endblock %}